body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.75em;
  width: 100%;
  margin: auto;
  display: grid;
  grid-row-gap: 0px;
  grid-column-gap: 0px;
  grid-template-columns: 25% 75%;
  height: 100%;
}

header {
  border-right: 4px solid black;
  text-align: center;
  width: 100%;
}
header h1 {
  padding: 50px;
  margin-bottom: 0;
}
header h4 {
  margin-top: 0;
  margin-bottom: 0;
}
header h5 {
  margin-top: 0px;
}

aside {
  width: 100%;
  border-right: 4px solid black;
}
aside nav ul {
  margin: 0 50px 0 50px;
  list-style: none;
  border-left: 4px solid lightgreen;
  padding: 0;
}
aside nav ul li {
  padding: 5px 0px 5px 10px;
  display: block;
}
aside nav ul li img {
  float: left;
  width: 25px;
  height: 25px;
}
aside nav ul li a {
  color: black;
  text-decoration: none;
}
aside nav ul li:hover {
  background: rgba(144, 238, 144, 0.3);
}

section {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 7;
}
section div {
  width: 80%;
  margin: auto;
}
section #tech {
  width: 80%;
  margin: auto;
  display: grid;
  grid-row-gap: 0px;
  grid-column-gap: 0px;
  grid-template-columns: 50% 50%;
}
section #tech h2 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}
section #tech #web {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  width: 90%;
  margin: auto;
}
section #tech #pro {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  width: 90%;
  margin: auto;
}
section #tech #db {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
  width: 90%;
  margin: auto;
}
section #tech #os {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
  width: 90%;
  margin: auto;
}
section hr {
  width: 80%;
  margin: auto;
  border: 1px solid black;
  background: black;
}

footer {
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 25px;
}

#sidebar {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: 4px solid black;
}

@media only screen and (max-width: 978px) {
  body {
    font-family: Verdana, Geneva, Sans-Serif;
    line-height: 1.75em;
    width: 100%;
    margin: auto;
    display: grid;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    grid-template-columns: 100%;
  }

  header {
    border: none;
    text-align: center;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  header h1 {
    padding: 50px;
  }

  aside {
    border: none;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 6;
  }
  aside nav ul {
    margin-left: 50px;
    list-style: none;
    border-left: 4px solid lightgreen;
    padding: 10px;
  }
  aside nav ul li {
    display: block;
  }
  aside nav ul li img {
    float: left;
    width: 25px;
    height: 25px;
  }
  aside nav ul li a {
    color: black;
    text-decoration: none;
  }

  section {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 6;
    grid-row-end: 10;
  }

  footer {
    border: none;
    text-align: center;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 10;
    grid-row-end: 11;
  }
}

/*# sourceMappingURL=style.css.map */
